@tailwind base;
@tailwind components;
@tailwind utilities;

 .gradientePrincipal {
    @apply bg-gradient-to-b from-[#a90000] via-[#850000] to-[#b40000]
  }
  .gradienteCard {
    @apply bg-gradient-to-b from-[rgba(231,231,231,0.07)] to-[rgba(141,141,141,0.86)]
  }
  .gradienteForm {
    @apply bg-gradient-to-r from-gray-900 via-gray-600 to-gray-700
  }
  .gradienteGaleria {
    @apply bg-gradient-to-b from-gray-50 via-white to-gray-100
  }
  
 